/** Basic Styles **/

body {
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/** Header Section **/

header {
    background: #944444;
}

/** Footer Section **/

footer {
    background: #2D3A4D;
    padding: 15px;
}

footer p {
    color: white;
    text-align: center;
}

/** 
Hex Values: 
Dull Gold: #D9BF77 - Text?
Forest Green: #3e4938 - Section Cards
White/Grey Main Background
**/
